/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
    display: block;
}
body {
    line-height: 1;
}
ol, ul {
    list-style: none;
}
blockquote, q {
    quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
    content: '';
    content: none;
}
table {
    border-collapse: collapse;
    border-spacing: 0;
}

/* Here starts CSS code after the reset */
body {
    background: url("background.png");
    min-width: 600px;

}

header {
    text-align: center;
}

h1 {
    font-family: Arial, sans-serif;
    font-size: 50px;
    font-weight: bold;
    letter-spacing: -2px;
    margin: 10px auto;
}

h2 {
    font-size: 20px;
    margin: 0 auto 50px;
}

h1 .hot {
    color: red;
    text-shadow: 5px 5px 2px purple;
}

h1 .cold {
    color: aqua;
    text-shadow: 5px 5px 2px navy;
}

#content {
    width: 560px;
    margin: auto;
}

/****************
main_column
****************/

#main_column {
    float: left;
}

form, #feedback {
    width: 236px;
    background: #eee;
    background: linear-gradient(#eee, gray);
    padding: 10px;
    margin: 120px 75px 0;
    border: 2px solid gray;
    border-radius: 10px;
    box-shadow: 0 0 5px gray;
}

form {
    margin: 120px 85px 0;
}

form label {
    font-family: Arial, sans-serif;
    font-size: 25px;
    font-weight: bold;
    text-align: center;
    display: block;
    margin: 0 auto 10px;
}

#guess {
    font-size: 30px;
    text-align: center;
    border: 1px solid gray;
    display: block;
    margin: 20px auto;
    width: 3em;
}

#buttons {
    text-align: center;
}

input[type=submit] {
    font-size: 20px;
    background: #ddd;
    padding: 0 10px;
    border: 1px solid #eee;
    border-radius: 5px;
}

input[type=submit]:hover {
    color: #ccc;
    background: black;
}
#new_game {
    margin-left: 10px;
}

#feedback {
    font-size: 20px;
    text-align: center;
    margin: 40px 85px 0;
}

#feedback_hotter, #feedback_colder, #feedback_guessed, #feedback_neither {
    display: none;
}

#feedback .hot {
    color: purple;
}

#feedback .cold {
    color: navy;
}


/****************
thermometer
****************/

#thermometer {
    position: relative;
    float: left;
    width: 100px;
    height: 517px;
}

#th-case .th-top {
    height: 23px;
    width: 46px;
    border: 2px solid black;
    border-bottom: none;
    margin: auto;
    border-radius: 25px 25px 0 0;
    background: white;
}

#th-case .th-middle {
    position: relative;
    z-index: 1;
    height: 400px;
    width: 46px;
    border: 2px solid black;
    border-top: none;
    border-bottom: none;
    margin: auto;
    background: white;
}

#th-case .th-bottom {
    height: 96px;
    width: 96px;
    border: 2px solid black;
    border-radius: 50px;
    margin: -8px auto;
    background: white;
}

#th-mercury {
    position: absolute;
    bottom: 0;
}

#th-mercury .th-top {
    position: absolute;
    z-index: 1;
    bottom: 85px;
    left: 35px;
    height: 0px;
    width: 30px;
    background: red;
    border-radius: 15px 15px 0 0;
}

#th-mercury .th-bottom {
    position: absolute;
    bottom: 10px;
    left: 10px;
    height: 80px;
    width: 80px;
    background: red;
    border-radius: 40px;
}

#th-scale {
    position: absolute;
    z-index: 1;
    top: 0;
    left: 25px;
}

#th-scale div {
    height: 5px;
    width: 25px;
    background: black;
    margin-top: 60px;
}
